.CardsContainer {
    text-align: center;
    column-count: 3;
    column-gap: 2em;
}

.Card {
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 1.4rem rgba(0, 0, 0, 0.395);
    display: inline-block;
    margin: 0 0 2em;
    width: 100%;
}

.CardImage {
    width: 100%;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.CardBody {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    padding: 1rem;
}

.CardText {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    color: #000;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    transition-duration: 0.2s;
}

@media screen and (max-width: 1000px) {
    .CardsContainer {
        column-count: 1;
        column-gap: 1em;
    }

    .CardText {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 1800px) {
    .CardText {
        font-size: 1.5rem;
    }
}